/* =========== VARIABLES =========== */
$header-height: 3rem;
$nav-width: 68px;
$white: #ffffff;
$black: #000;
$first-color: #edbcb7;
$main-color: #323334;
$body-color: #d3d3d3;
$second-color: #edbcb7;
$body-font: 'Montserrat';
// margin
// ======================================
$pc-block-margin: 20px;
$pc-content-margin: 10px;
// media-margin
$media-block-margin: 10px;
$media-content-margin: 5px;

// font-size
// ======================================
$font-size-title: 24px;
$font-size-main: 18px;
$font-size-descr: 16px;
// media-font-size
$media-font-size-title: 18px;
$media-font-size-main: 14px;
$media-font-size-descr: 12px;

$normal-font-size: 1rem;
$z-fixed: 100;

$red: #ff6100;
$anim_time: 1s;




//admin panel

$border-radius: 10px;